    body {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .navbar {
        background-color: white;
    }
    
    .logo {
        font-size: 27px;
        font-family: 'Raleway', sans-serif;
        ;
    }
    
    .covid {
        color: #9155A7;
    }
    
    .locationFinder {
        color: #0DB26B;
    }
    
    .links {
        font-family: 'Raleway', sans-serif;
    }
    
    .login {
        float: right;
    }